---
---

<section class="section section--tint is7-callout">
  <div class="container--narrow">
    <p class="is7-callout__text">All IV Drips are 500ml. Upgrade to 1000ml for only $25</p>
  </div>
</section>

<style>
  .is7-callout__text {
    font-family: var(--font-display);
    font-size: var(--text-xl);
    color: var(--color-text);
    margin: 0;
    text-align: center;
    line-height: 1.4;
  }
</style>
