---
import SectionHeading from '@/components/SectionHeading.astro';
---

<section class="section section--mauve sp-hero">
  <div class="container--narrow">
    <SectionHeading
      heading="Store Policy"
      level={1}
    />
  </div>
</section>

