---
import RichText from '@/components/RichText.astro';
---

<section class="section sp-prose">
  <div class="container--narrow">
    <RichText>
      <h2>Terms of Sale</h2>
      <p>By placing an order you are offering to purchase a product on and subject to the following terms and conditions. All orders are subject to availability and confirmation of the order price. Dispatch times may vary according to availability and subject to any delays resulting from postal delays or force majeure for which we will not be responsible.</p>
      <p>In order to contract with <a href="http://www.menonmedispa.com">www.menonmedispa.com</a> you must be over 18 years of age and possess a valid credit or debit card issued by a bank acceptable to us. <a href="http://www.menonmedispa.com">www.menonmedispa.com</a> retains the right to refuse any request made by you. If your order is accepted we will inform you by email and we will confirm the identity of the party which you have contracted with.</p>
      <p>When placing an order you undertake that all details you provide to us are true and accurate, that you are an authorized user of the credit or debit card used to place your order and that there are sufficient funds to cover the cost of the goods. The cost of foreign products and services may fluctuate. All prices advertised are subject to such changes.</p>
    </RichText>
  </div>
</section>

