---
import RichText from '@/components/RichText.astro';
---

<section class="section section--tint sp-prose">
  <div class="container--narrow">
    <RichText>
      <h2>Pricing &amp; Availability</h2>
      <p>While we make every effort to ensure that all details, descriptions and prices which appear on this Website are accurate at time of going online, errors may occur. If we discover an error in the price of any goods which you have ordered, we will inform you of this as soon as possible and give you the option of reconfirming your order at the correct price or cancelling it. If we are unable to contact you we will treat the order as cancelled. If you cancel and you have already paid for the goods, you will receive a full refund.</p>
      <p>Delivery costs will be charged in addition; such additional charges are clearly displayed where applicable and included in the 'Total Cost'.</p>
    </RichText>
  </div>
</section>
