---
import RichText from '@/components/RichText.astro';
---

<section class="section sp-prose">
  <div class="container--narrow">
    <RichText>
      <h2>Disclaimer of Liability</h2>
      <p>THE MATERIAL AND CONTENT ACCESSIBLE FROM THIS WEBSITE, AND ANY OTHER WORLD WIDE WEB SITE OWNED, OPERATED, LICENSED, OR CONTROLLED BY MENON REGENERATIVE INSTITUTE IS PROVIDED "AS IS" AND MENON REGENERATIVE INSTITUTE MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE, TITLE, OR NON-INFRINGEMENT. MOREOVER, MENON REGENERATIVE INSTITUTE DOES NOT MAKE ANY REPRESENTATION OR WARRANTY THAT THIS WEBSITE WILL OPERATE ERROR FREE OR THAT THIS WEBSITE AND ITS SERVER ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL GOODS. IF YOU USE THIS WEBSITE OR THE CONTENT THEREIN, YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA, OR FOR ANY CLAIMS MADE AGAINST YOU BY A THIRD PARTY. MENON REGENERATIVE INSTITUTE IS NOT RESPONSIBLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES THAT MAY ARISE FROM THE USE OF, OR INABILITY TO USE THIS WEBSITE AND/OR THE CONTENT, WHETHER OR NOT THIS ENTITY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
      <p>TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, MENON REGENERATIVE INSTITUTE DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. MENON REGENERATIVE INSTITUTE DOES NOT WARRANT THAT THIS WEBSITE, ITS SERVERS, OR E-MAIL SENT FROM MENON REGENERATIVE INSTITUTE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. MENON REGENERATIVE INSTITUTE WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS WEBSITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES. SOME STATES DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. IN SUCH STATES MENON REGENERATIVE INSTITUTE'S LIABILITY SHALL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY LAW.</p>
    </RichText>
  </div>
</section>
