---
import RichText from '@/components/RichText.astro';
---

<section class="section section--tint sp-prose">
  <div class="container--narrow">
    <RichText>
      <h2>Product Disclaimer</h2>
      <p>Menon Regenerative Institute (Menon Medispa &amp; Wellness) is merely a reseller of Obagi products. We hold no responsibility over the products, their ingredients, effect, side effects, etc. For more information about Obagi products, their effects and side effects, please consult <a href="https://www.obagi.com/">https://www.obagi.com/</a></p>
    </RichText>
  </div>
</section>
