---
---

<section class="section section--tint tou-prose">
  <div class="container--narrow">
    <h2 class="tou-prose__heading">Disclaimer</h2>
    <div class="tou-prose__body">
      <p>You understand that we cannot and do not guarantee or warrant that files available for downloading from the internet or our Site will be free of viruses or other destructive code. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for anti-virus protection and accuracy of data input and output, and for maintaining a means external to our site for any reconstruction of any lost data. WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF OUR SITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH OUR SITE OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON ANY WEBSITE LINKED TO OR FROM IT. THE MATERIALS ON THE SITE ARE PROVIDED ON AN &ldquo;AS IS&rdquo; AND &ldquo;AS AVAILABLE&rdquo; BASIS. WE MAKE NO WARRANTIES, EXPRESSED OR IMPLIED, AND HEREBY DISCLAIMS AND NEGATES ALL OTHER WARRANTIES, INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF INTELLECTUAL PROPERTY OR OTHER VIOLATION OF RIGHTS. FURTHER, WE DO NOT WARRANT OR MAKE ANY REPRESENTATIONS CONCERNING THE ACCURACY, LIKELY RESULTS, OR RELIABILITY OF THE USE OF THE MATERIALS ON SITE OR OTHERWISE RELATING TO SUCH MATERIALS OR ON ANY SITE LINKED TO THE SITE.</p>
    </div>
  </div>
</section>

<style>
  .tou-prose__heading {
    font-family: var(--font-display);
    font-size: var(--text-h2);
    font-weight: 400;
    color: var(--color-text);
    margin: 0 0 var(--space-md);
    line-height: 1.2;
    text-wrap: balance;
  }

  .tou-prose__body {
    font-family: var(--font-body);
    font-size: var(--text-base);
    color: var(--color-text);
    line-height: 1.75;
  }

  .tou-prose__body p {
    margin: 0 0 1em;
  }

  .tou-prose__body p:last-child {
    margin-bottom: 0;
  }
</style>
