---
---

<section class="section tou-prose">
  <div class="container--narrow">
    <h2 class="tou-prose__heading">Use License</h2>
    <div class="tou-prose__body">
      <p>Your permission to use and access this Site is the grant of a limited license, not a transfer of title, and your limited license to use or access our Site shall automatically terminate if you violate any of these restrictions and may be terminated by us at any time for any reason or no reason.</p>

      <p>When using or accessing our Site, you may not:</p>
      <ul>
        <li>modify or copy any material or Services;</li>
        <li>use the material or Services for any commercial purpose, or for any public display (commercial or non-commercial);</li>
        <li>attempt to decompile or reverse engineer any software contained on the Site or that supports the Site or any Services;</li>
        <li>engage in any data mining, data harvesting, data extracting or any other similar activity in relation to this Site, or while using this Site;</li>
        <li>remove any copyright or other proprietary notations from the material; or</li>
        <li>transfer the materials to another person or entity or "mirror" the material on any other server.</li>
      </ul>

      <p>Posting Content. In these Terms and Conditions of Use, your "Content" shall mean any audio, video, text, images or other material, including comments or feedback, you choose to post on or submit to us via this Website. With respect to your Content, by posting it in a way that is visible to the public, you grant us a non-exclusive, worldwide, irrevocable, royalty-free, sublicensable license to use, reproduce, adapt, publish, translate and distribute it on our Site and in any and all media. Your Content must be your own and must not be infringing on any third party's rights or violate any of the restrictions in the subsection below. We reserve the right to remove any of your Content from our Site at any time, and for any reason, without notice.</p>

      <p>Without limiting the foregoing, you agree not to use, or permit to be used, any messaging capabilities or any Services on our Site that permit text entry or the uploading or posting of audio, video or images to post, transmit or disseminate any:</p>
      <ul>
        <li>unsolicited material to persons or entities that have not agreed to receive such material or to whom you do not otherwise have a legal right to send such material;</li>
        <li>material that infringes or violates any third party's intellectual property rights, rights of publicity, privacy, or confidentiality, or the rights or legal obligations of any wireless service provider or any of its customers or subscribers attempt to decompile or reverse engineer any software contained on the Site or that supports the Site or any Services;</li>
        <li>material or data that is illegal, or material or data that is harassing, coercive, libelous, defamatory, abusive, threatening, obscene, or otherwise objectionable, materials that are harmful to minors or excessive in quantity, or materials the transmission of which could diminish or harm the reputation of us and/or our third-party service providers; material or data that is related to illegal drugs (e.g., marijuana, cocaine) or to pharmaceuticals, material that contains any viruses, Trojan horses, worms, time bombs, cancelbots, or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data, or personal information or contains any signal or impulse that could cause electrical, magnetic, optical, or other technical harm to our equipment or facilities and/or those of any third party; or material or information that is false or misleading, or likely to mislead or deceive.</li>
      </ul>
    </div>
  </div>
</section>

<style>
  .tou-prose__heading {
    font-family: var(--font-display);
    font-size: var(--text-h2);
    font-weight: 400;
    color: var(--color-text);
    margin: 0 0 var(--space-md);
    line-height: 1.2;
    text-wrap: balance;
  }

  .tou-prose__body {
    font-family: var(--font-body);
    font-size: var(--text-base);
    color: var(--color-text);
    line-height: 1.75;
  }

  .tou-prose__body p {
    margin: 0 0 1em;
  }

  .tou-prose__body ul {
    padding-left: 1.5em;
    margin: 0 0 1em;
  }

  .tou-prose__body li + li {
    margin-top: 0.25em;
  }
</style>
