---
import BaseLayout from '@/layouts/BaseLayout.astro';
import site from '@/lib/site';
const CALCOM = site.calcomUrl;
---
<BaseLayout>
  <main class="pg" data-slug="coming-soon">
<section class="pg-section" data-section="We Are Coming Soon">
  <img class="pg-img" src="/images/24d810883219.jpg" alt="Beauty Products" width="1440" height="990" loading="lazy" />
  <img class="pg-img" src="/images/13ba24720888.png" alt="medispa logo new.png" width="156" height="160" loading="lazy" />
  <h5 class="pg-h">MENON MEDISPA &amp; WELLNESS</h5>
  <h5 class="pg-h">Your go-to medical spa!</h5>
  <h1 class="pg-h">We Are Coming Soon</h1>
  <p class="pg-text">Sign up to be the first to know when we go live.</p>
  <p class="pg-btnlabel">Notify Me</p>
  <img class="pg-img" src="/images/482f7439ea47.png" alt="Facebook" width="46" height="46" loading="lazy" />
  <img class="pg-img" src="/images/d85622e84ef0.png" alt="Instagram" width="46" height="46" loading="lazy" />
  <img class="pg-img" src="/images/de7ef3d7c470.png" alt="TikTok  " width="46" height="46" loading="lazy" />
</section>
  </main>
</BaseLayout>
<!-- fidelity-report: {"sections_rendered":1,"sections_content":1,"widgets_expected":10,"widgets_rendered":10,"images_resolved":5,"h1":"We Are Coming Soon","fidelity_pct":100,"dropped":[]} -->
